[user]
	name = Oskar van Velden
	email = oskar@rakso.nl
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status -s -b
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue[%an]%Creset' --abbrev-commit --date=relative
    alias = config --get-regexp ^alias\\.
    co = checkout
    b = checkout -b
    up = "!f() { echo 'Fetch & Pull' && git fetch --tags && git pull; }; f"
    #DEZE NOG KEER FIXEN t = "!f() { git tag | xargs -I@ git log --format=format:\"%ai @%n (%Cblue[%an]%Creset)\" -1 @ | sort | awk '{print $4}'; }; f#"
    t = log --tags --simplify-by-decoration --pretty=format:'%Cred%d%Creset - %ai (%Cblue[%an]%Creset)' -n30
    edit = config --edit --global
    delmerged = "!f() { git branch --merged | grep -v \"^*\" | awk '{print $NF}' | xargs git branch -d; }; f"
    pushf = push --force-with-lease
    delgone = "!f() { git branch -vvv | grep gone | awk '{print $1}' | xargs --no-run-if-empty git branch -d; }; f"
    delgonef = "!f() { git branch -vvv | grep gone | awk '{print $1}' | xargs --no-run-if-empty git branch -D; }; f"
 
[core]
	autocrlf = input
	filemode = false
    excludesfile = /home/oskar/.gitignore
[push]
    followTags = 1
    default = current

[tag]
	sort = version:refname
[pull]
    rebase = true
[rebase]
    autostash = true
[remote "origin"]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
